section {
  display: flex;
  padding: 20px;
  text-align: justify;
  flex-direction: column;
  align-items: center;
}

div.frase {
  font-style: italic;
}

img {
  width: 80vw;
  margin: 20px 10px;
  border-radius: 10px;
}
